h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    align: center;
    width: 15em;
    word-wrap: break-word;
    font-size:20px;
}


body {
    background-color: lightgreen;
}

